
# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment / secrets
.env
env/
venv/

# Editor directories
.vscode/
.idea/

# OS files
Thumbs.db
desktop.ini

# Logs
*.log

